<h1>Formulario de alta de usuarios</h1>

<form [formGroup]="formularioUsuario" (ngSubmit)="agregarUsuario()">
    <div class="row">
        <div class="col-6">
            <label for="">Nombre:</label>
                <input type="text" formControlName="nombre">
            <p *ngIf="formularioUsuario.get('nombre')?.touched && formularioUsuario.get('nombre')?.errors?.['required']">El campo nombre es requerido</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="">Correo:</label>
            <input type="text" formControlName="correo">
            <p *ngIf="formularioUsuario.get('correo')?.touched && formularioUsuario.get('correo')?.errors?.['required']">El campo correo es requerido</p>
            <p *ngIf="formularioUsuario.get('correo')?.touched && formularioUsuario.get('correo')?.errors?.['pattern']">El formato del correo no es correcto</p>
        </div>
    </div>
    <div class="mb-3">
        <label for="">Contraseña:</label>
        <input type="password" formControlName="contrasena" aria-describedby="passwordHelpBlock">
        <p *ngIf="formularioUsuario.get('contrasena')?.touched && formularioUsuario.get('contrasena')?.errors?.['required']">El campo contrasena es requerido</p>
        <p *ngIf="formularioUsuario.get('contrasena')?.touched && formularioUsuario.get('contrasena')?.errors?.['minlength']">La contrasena debe tener al menos 5 caracteres</p>
        <p *ngIf="formularioUsuario.get('contrasena')?.touched && formularioUsuario.get('contrasena')?.errors?.['pattern']">La contrasena debe tener al menos una mayuscula</p>
    </div>
    <div>
        <label for="">Confirmar contraseña:</label>
        <input type="password" formControlName="contrasena2">
        <p *ngIf="formularioUsuario.get('contrasena2')?.touched && formularioUsuario.get('contrasena2')?.errors?.['required']">El campo contrasena es requerido</p>
        <p *ngIf="formularioUsuario.get('contrasena2')?.touched && formularioUsuario.get('contrasena2')?.errors?.['minlength']">La contrasena debe tener al menos 5 caracteres</p>
        <p *ngIf="!contrasenasIguales">Las contraseñas deben ser iguales</p>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="formularioUsuario.invalid">Agregar usuario</button>
</form>
